<main class="portfolio-page page-container">

<header class="portfolio-header flex justify-around">
  <h3 class="portfolio title flex justify-center">Portfolio</h3>
</header>

  <h4 class="portfolio-subtitle flex justify-center title">Front and Back end</h4>

  <div class="ui divider"></div>

  <div class="ui special stackable cards grid portfolio flex justify-center">

   <div class="card five wide column left floated">
          <div class="dimmable image intro-image etruck-image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="etruck-modal">See description</div>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <a class="header">e-Truck</a>
            <div class="meta">
              <span class="date">August 2019</span>
            </div>
            <div class="description">
              A car dashboard for tablets <br /><br />It allows you to check the state of your car, and manipulate various options in it.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              HTML5/CSS3, Javascript
            </a>
          </div>
        </div>
        <div class="ui modal" id="etruck-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>App not yet available on the web</span>
          </div>
          <div class="image content">
            <div class="ui description-image image">
              <%= image_tag("etruck-2.jpg") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header description-title">E-TRUCK</div>
              <p>I had to implement the Front-End of 20 pages.</p>
              <p>The most tricky part was to render all the pages responsive (in a very detailed way) for all different tablet formats.</p>
              <p>Apart from mere HTML5 and CSS3, I also did some features and animations using Javascript.</p>
             </p>
            </div>
          </div>
        </div>

 <div class="card five wide column left floated">
          <div class="dimmable image intro-image apameo-image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="apameo-modal">See description</div>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <a class="header">Apameo - dentist templates</a>
            <div class="meta">
              <span class="date">August 2019</span>
            </div>
            <div class="description">
              Websites templates intended for dentists. <br /><br />Implementation of different website templates tailor-made for dentists and other medical specialists.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              HTML5/CSS3/Javascript, Bootstrap, erb, Ruby on Rails + Rspec tests
            </a>
          </div>
        </div>
        <div class="ui modal" id="apameo-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>See the Apameo demo-page: <a href="www.apameo-demo.com/">HERE</a></span>
          </div>
          <div class="image content">
            <div class="ui description-image image">
              <%= image_tag("apameo-3.png") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header description-title">APAMEO - dentist templates</div>
              <p>I integrated some Bootstrap templates into Apameo App, and made them dynamic using erb.</p>
              <p>I had to re-design some parts, and add some additional features as well.</p>
              <p>These different templates allows Apameo to propose different designs to dentists or other medical specialists.</p>
              <p>After choosing the design and features they want, they just have to provide the content that will be dynamically rendered in the pages.</p>
             </p>
            </div>
          </div>
        </div>

    <div class="card five wide column left floated">
          <div class="dimmable image intro-image catbook-image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="catbook-modal">See description</div>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <a class="header">CATBOOK</a>
            <div class="meta">
              <span class="date">March 2019</span>
            </div>
            <div class="description">
              It's like Facebook, but for cats! <br /><br />You can create a profile with personal information, make friends, share news and photos with them, write comments and like or dislike your friends'posts.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              HTML5/CSS3, React.js, StyledComponents, Ruby on Rails + Rspec tests, SQL, Webpacker, Cloudinary
            </a>
          </div>
        </div>
        <div class="ui modal" id="catbook-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>Github link: <a href="https://github.com/coconatsuki/odin-catbook">HERE</a></span>
            <span>To see it in the browser: <a href="https://odin-catbook.herokuapp.com/">HERE</a></span>
          </div>
          <div class="image content">
            <div class="ui description-image image">
              <%= image_tag("odin-catbook.png") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header description-title">CATBOOK</div>
              <p>This is a Facebook-like application, built with React.js and Ruby on Rails.</p>
              <p>Every core features of Facebook are present : users, profiles, “friend requests”, posts with photos, comments, news feed, and “liking”.</p>
              <p>I also used Devise for authentification and added Redis, Sidekiq, activeJob and Sendgrid to properly send emails in production.</p>
              <p>All photos are uploaded on Cloudinary, and I use react-avatar-editor for cropping photos.</p>
              <p>This project also helped me to deepen my knowledge of React.js, made me practice StyledComponents library, write complex SQL requests and practice my UI/UX skills.
             </p>
            </div>
          </div>
        </div>

    <div class="card five wide column left floated">
          <div class="dimmable image intro-image novartem-image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="novartem-modal">See description</div>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <a class="header">NOVARTEM</a>
            <div class="meta">
              <span class="date">2018 (still in progress)</span>
            </div>
            <div class="description">
              A social media App for artists and craft persons <br /><br />You can create a profile, show and sell your work and create new connexions.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              React.js, JavaScript (ES6), Jest/Enzyme, Node.js, GraphQL/Prisma, Flow, Amazon S3
            </a>
          </div>
        </div>
        <div class="ui modal" id="novartem-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>To see it in the browser: <a href="https://novartem.com/">HERE</a></span>
          </div>
          <div class="image content">
            <div class="ui description-image image">
              <%= image_tag("novartem.png") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header description-title">NOVARTEM</div>
              <p>Novartem is a small canadian start up.</p>
              <p>With my colleague and CTO, we built from scratch a social plateform for artists and craft persons.</p>
              <p>Through this app, they could connect to each others, or to galleries, curators and clients.</p>
              <p>They can show their pieces of work and even sell them.</p>
              <p>As we were a very small team, I had the chance to work on every aspects of the projects, 
              from the design to the Front-End and Back-end implementation, including the CI/CD process and deployment.</p>
              <p>That was very enriching.</p>
            </div>
          </div>
        </div>
  </div>


  <h4 class="portfolio-subtitle flex justify-center title">Front-end only</h4>

  <div class="ui divider"></div>

  <div class="ui special stackable cards grid portfolio flex justify-center">
    <div class="card five wide column left floated">
          <div class="dimmable image intro-image todolist-image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="todolist-modal">See description</div>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <a class="header">TO DO LIST</a>
            <div class="meta">
              <span class="date">May 2018</span>
            </div>
            <div class="description">
              A basic To do list<br /><br />This was mainly to practice React.js, as well as Bootstrap.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              HTML5/CSS3, React.js, Bootstrap
            </a>
          </div>
        </div>
        <div class="ui modal" id="todolist-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>Github link: <a href="https://github.com/coconatsuki/todo-list-js">HERE</a></span>
            <span>To see it in the browser: <a href="http://your-todo-list.surge.sh/">HERE</a></span>
          </div>
          <div class="image content">
            <div class="ui description-image image">
              <%= image_tag("todo-list.png") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header description-title">TO DO LIST</div>
              <p>This is a basic To do list to practice React.js, Javascript ES6 and to get used to webpack, babel and ESLint configuration. </p>
              <p>All data are stored in the localStorage.</p>
              <p>It was my first time to use React, and I definitly love it.</p>
            </div>
          </div>
        </div>


      <div class="card five wide column">
        <div class="dimmable image intro-image newsweek-image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted button modal-button" data-modal="newsweek-modal">See description</div>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <a class="header">Fake Newsweek page</a>
          <div class="meta">
            <span class="date">Created in Fev 2018</span>
          </div>
          <div class="description">
            Reproduction of a newsweek article to practice Responsive Design, Sass & Bootstrap.
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="users icon"></i>
            HTML5/CSS3, Sass, Bootstrap
          </a>
        </div>
      </div>
      <div class="ui modal" id="newsweek-modal">
        <i class="close icon"></i>
        <div class="header flex">
          <span>Github link: <a href="https://github.com/coconatsuki/newsweek-clone">HERE</a></span>
          <span>To see it in the browser: <a href="https://coconatsuki.github.io/newsweek-clone/">HERE</a></span>
        </div>
        <div class="image content">
          <div class="ui description-image image">
            <%= image_tag("newsweek.png") %>
          </div>
          <div class="description scrolling content">
            <div class="ui header description-title">Fake Newsweek article</div>
            <p>This is a project from the online bootcamp "The Odin Project" to practice Responsive Design and Bootstrap</p>
            <p>Instructions can be found: <a href="https://www.theodinproject.com/courses/html5-and-css3/lessons/using-bootstrap">HERE.</a>.</p>
            <p>And this is the original newsweek page: http://www.newsweek.com/</a>.</p>
            <p>I added to this exercise the use of Sass (that I just learnt on CodeSchool => <a href="https://www.codeschool.com/">HERE</a>.</p>
            <p>I was quite excited to discover how fast we can build using Bootstrap, and how useful Sass can be.</p>
            <p>CSS becomes so much cleaner thanks to Sass !</p>
            </div>
          </div>
        </div>

        <div class="card five wide column right floated">
          <div class=" dimmable image intro-image newyork-image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="nyc-modal">See description</div>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <a class="header">Fake New-York-Times page</a>
            <div class="meta">
              <span class="date">Created in Dec 2017</span>
            </div>
            <div class="description">
              Reproduction of one of the NYT article pages, to practice embedded media.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              HTML5, CSS3
            </a>
          </div>
        </div>
      </div>
      <div class="ui modal" id="nyc-modal">
        <i class="close icon"></i>
        <div class="header flex">
          <span>Github link: <a href="https://github.com/coconatsuki/fake-new-york-times-article">HERE</a></span>
          <span>To see it in the browser: <a href="https://coconatsuki.github.io/fake-new-york-times-article/">HERE</a></span>
        </div>
        <div class="image content">
          <div class="ui description-image image">
            <%= image_tag("fake-newyork-page.png") %>
          </div>
          <div class="description scrolling content">
            <div class="ui header description-title">Fake New York Times article</div>
            <p><a href="https://www.theodinproject.com/courses/html5-and-css3/lessons/positioning-and-floating-elements">The Odin Project: positioning-and-floating elements</a></p>
            <p>This was meant to practice the HTML5 new semantics, and also positioning and floating elements.</p>
            <p>I could also practice flexbox, as well as images and videos integration.</p>
            <p>This is the original page :</p>
            <p>
              <a href="https://www.nytimes.com/2014/03/18/science/space/detection-of-waves-in-space-buttresses-landmark-theory-of-big-bang.html?_r=0">NYC ARTICLE - THEORY OF BIG BANG</a>
            </p>
          </div>
        </div>
      </div>

      <h4 class="portfolio-subtitle flex justify-center title">Back-end only</h4>

      <div class="ui divider"></div>

      <div class="ui special stackable cards grid  portfolio flex justify-center">
        <div class="card five wide column">
          <div class="dimmable image intro-image bixis-image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="bixis-modal">See description</div>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <a class="header">Bixis application</a>
            <div class="meta">
              <span class="date">Created in March 2018</span>
            </div>
            <div class="description">
              A toy app which helps users find available bikes for share in Montreal
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              Ruby on Rails
            </a>
          </div>
        </div>
        <div class="ui modal" id="bixis-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>Github link: <a href="https://github.com/coconatsuki/Bixi-application">HERE</a></span>
            <span>To see it in the browser: <a href="https://bixi-fx-innovation.herokuapp.com/">HERE</a></span>
          </div>
          <div class="image content">
            <div class="ui description-image image">
              <%= image_tag("bixis.png") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header description-title">Bixis application </div>
              <p>This application was made for a technical test. Here are the instructions :</p>
              <p>
                - Make an app that checks the availability of bixis (bikes for share) at the closest stations (from the Office which sent me the test).
              </p>
              <p>- The output of a request should include each station's name, available bixis number, and the distance from the Office to the station. The stations should be ordered from the closest to the furthest.</p>
              <p>- Use Geocoder gem for calculate distances, and Montreal Bixis API: <a href="http://donnees.ville.montreal.qc.ca/dataset/bixi-etat-des-stations">HERE</a></p>
              <p>- At each request to the API, all stations shouldn't be updated everytime..</p>
              <p>This project is probably one of my favorite so far, because it gave me the opportunity to try gems that I haven't used so far : 'rest-client', 'geocoder', 'vcr', 'shoulda-matchers', 'simplecov'.</p>
              <p>It also made me use a job worker (sidekiq) once again, and helped me have a better understanding of it.</p>
              <p>I also tried my best to test my code as much as possible, using Rspec.</p>
            </div>
          </div>
        </div>


        <div class="card five wide column">
          <div class="dimmable image intro-image flightbooker-image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="flight-modal">See description</div>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <a class="header">Flight-booker</a>
            <div class="meta">
              <span class="date">Created in Nov 2017</span>
            </div>
            <div class="description">
              An application to search and book flights (backend only)
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              Ruby on Rails
            </a>
          </div>
        </div>
        <div class="ui modal" id="flight-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>Github link: <a href="https://github.com/coconatsuki/odin-flight-booker">HERE</a></span>
            <span>To see it in the browser: <a href="https://odin-flight-booking.herokuapp.com">HERE</a></span>
          </div>
          <div class="image content">
            <div class="ui description-image image">
              <%= image_tag("flight-booker.png") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header description-title">Flight booker</div>
              <p>This project is part of the online formation "The Odin Project":</p>
              <p>
                Follow the link for instructions : <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/building-advanced-forms?ref=lnav">The Odin Project: building advanced forms</a>
              </p>
              <p>The main goal of this 'flight-booker' exercise is to practice advanced forms (dropdown menus, radio buttons and nested submissions) and models in Rails.</p>
              <p>- I had to create a search form where a user could enter the desired dates / airports.</p>
              <p>- The user could then select a flight among the eligible ones.</p>
              <p>- Then, he could enter all the passengers information in an other form.</p>
              <p>Finally, the user can enter the billing information. This was made possible with the 'Stripe' gem.</p>
              <p>For this project, the most difficult was to implement complex models and complex forms.</p>
            </div>
          </div>
        </div>
      </div>
      
        </div>
      </main>
