<main class="portfolio-page page-container">
  <h3 class="portfolio title flex justify-center">Front-end</h3>

  <div class="ui divider"></div>

  <div class="ui special stackable cards grid portfolio flex justify-center">
    <div class="card five wide column left floated">
      <div class="dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button modal-button" data-modal="google-modal">See description</div>
            </div>
          </div>
        </div>
        <%= image_tag("fake-google-page.png") %>
      </div>
      <div class="content">
        <a class="header">Fake Google homepage</a>
        <div class="meta">
          <span class="date">Created in Fev 2017</span>
        </div>
        <div class="description">
          Reproduction of the Canadian Google Homepage.
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="users icon"></i>
          HTML5, CSS3
        </a>
      </div>
    </div>
    <div class="ui modal" id="google-modal">
      <i class="close icon"></i>
      <div class="header flex">
        <span>Github link: <a href="https://coconatsuki.github.io/google_homepage/">HERE</a></span>
        <span>To see it in the browser: <a href="https://github.com/coconatsuki/google_homepage">HERE</a></span>
      </div>
      <div class="image content">
        <div class="ui medium image">
          <%= image_tag("fake-google-page.png") %>
        </div>
        <div class="description scrolling content">
          <div class="ui header">Google Homepage</div>
          <p>This project was my first opportunity to practice HTML5 and CSS3.</p>
          <p>I put into practice everything I learnt in my HTML/CSS lessons,
            and checked my ability to :</p>
            <p>- Use two ways to move a div around on the page</p>
            <p>- Stick a div onto the bottom or top of the page</p>
            <p>- Identify the background color of an existing webpage</p>
            <p>- Grab the URL for an image from an existing webpage</p>
            <p>- Center an element horizontally</p>
            <p>- Understand how to use classes and ids</p>
            <p>- Build a very basic form (even if it doesn't "go" anywhere)</p>
          </div>
        </div>
      </div>

      <div class="card five wide column">
        <div class="dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted button modal-button" data-modal="mint-modal">See description</div>
              </div>
            </div>
          </div>
          <%= image_tag("fake-mint-page.png") %>
        </div>
        <div class="content">
          <a class="header">Fake Mint-com sign-in page</a>
          <div class="meta">
            <span class="date">Created in Dec 2017</span>
          </div>
          <div class="description">
            Reproduction of the Mint.com sign-in page, to practice forms.
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="users icon"></i>
            HTML5, CSS3
          </a>
        </div>
      </div>
      <div class="ui modal" id="mint-modal">
        <i class="close icon"></i>
        <div class="header flex">
          <span>Github link: <a href="https://github.com/coconatsuki/Fake-Mint.com">HERE</a></span>
          <span>To see it in the browser: <a href="https://coconatsuki.github.io/Fake-Mint.com/">HERE</a></span>
        </div>
        <div class="image content">
          <div class="ui medium image">
            <%= image_tag("fake-mint-page.png") %>
          </div>
          <div class="description scrolling content">
            <div class="ui header">Fake Mint.com sign-in page</div>
            <p>This is a project from the online bootcamp "The Odin Project" to practice forms in HTML5 and CSS3.</p>
            <p>Instructions can be found here : <a href="https://www.theodinproject.com/courses/html5-and-css3/lessons/html-forms?ref=lnav">The Odin-Project: html-forms</a>.</p>
            <p>For this project, I had to rebuild the sign-in form made by the website mint.com :</p>
            <p>
              <a href="https://accounts.intuit.com/index.html?offering_id=Intuit.ifs.mint&namespace_id=50000026&redirect_url=https%3A%2F%2Fmint.intuit.com%2Foverview.event%3Futm_medium%3Ddirect%26cta%3Dnav_login_dropdown">
                Mint.com sign-in page</a>
              </p>
              <p>The design and simplicity of the page made it a good example to follow.</p>

            </div>
          </div>
        </div>

        <div class="card five wide column right floated">
          <div class=" dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="nyc-modal">See description</div>
                </div>
              </div>
            </div>
            <%= image_tag("fake-newyork-page.png") %>
          </div>
          <div class="content">
            <a class="header">Fake New-York-Times page</a>
            <div class="meta">
              <span class="date">Created in Dec 2017</span>
            </div>
            <div class="description">
              Reproduction of one of the NYT article pages, to practice embedded media.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              HTML5, CSS3
            </a>
          </div>
        </div>
      </div>
      <div class="ui modal" id="nyc-modal">
        <i class="close icon"></i>
        <div class="header flex">
          <span>Github link: <a href="https://github.com/coconatsuki/fake-new-york-times-article">HERE</a></span>
          <span>To see it in the browser: <a href="https://coconatsuki.github.io/fake-new-york-times-article/">HERE</a></span>
        </div>
        <div class="image content">
          <div class="ui medium image">
            <%= image_tag("fake-newyork-page.png") %>
          </div>
          <div class="description scrolling content">
            <div class="ui header">Fake New York Times article</div>
            <p><a href="https://www.theodinproject.com/courses/html5-and-css3/lessons/positioning-and-floating-elements">The Odin Project: positioning-and-floating elements</a></p>
            <p>This was meant to practice the HTML5 new semantics, and also positioning and floating elements.</p>
            <p>I could also practice flexbox, as well as images and videos integration.</p>
            <p>This is the original page :</p>
            <p>
              <a href="https://www.nytimes.com/2014/03/18/science/space/detection-of-waves-in-space-buttresses-landmark-theory-of-big-bang.html?_r=0">NYC ARTICLE - THEORY OF BIG BANG</a>
            </p>
          </div>
        </div>
      </div>

      <div class="ui special stackable cards grid portfolio flex justify-center">
        <div class="card five wide column left floated">
          <div class="dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="pacman-modal">See description</div>
                </div>
              </div>
            </div>
            <%= image_tag("pacman.png") %>
          </div>
          <div class="content">
            <a class="header">Miss Pacman</a>
            <div class="meta">
              <span class="date">Created in Fev 2017</span>
            </div>
            <div class="description">
              Animated Miss Pacman character, all in CSS and jQuery.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              HTML5, CSS3, jQuery
            </a>
          </div>
        </div>
        <div class="ui modal" id="pacman-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>Github link: <a href="https://github.com/coconatsuki/miss_pacman">HERE</a></span>
            <span>To see it in the browser: <a href="https://coconatsuki.github.io/miss_pacman/">HERE</a></span>
          </div>
          <div class="image content">
            <div class="ui medium image">
              <%= image_tag("pacman.png") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header">Animated Miss Pacman</div>
              <p>This project is a personal one! And I had a lot of fun with it.</p>
              <p>I wanted to practice the @keyframes rule, that I just learnt in a 'CodeSchool' course called 'adventures in web animation':</p>
              <p><a href="https://www.codeschool.com/courses/adventures-in-web-animations">Codeschool: adventures-in-web-animation</a></p>
              <p>It was really enjoyable to create a character in CSS and make it move with jQuery !</p>
            </div>
          </div>
        </div>

        <div class="card five wide column">
          <div class="dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="drawing-modal">See description</div>
                </div>
              </div>
            </div>
            <%= image_tag("drawing.png") %>
          </div>
          <div class="content">
            <a class="header">Sketchpad application</a>
            <div class="meta">
              <span class="date">Created in May 2017</span>
            </div>
            <div class="description">
              A sketchpad application.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              HTML5, CSS3, JS
            </a>
          </div>
        </div>
        <div class="ui modal" id="drawing-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>Github link: <a href="https://github.com/coconatsuki/drawing-application">HERE</a></span>
            <span>To see it in the browser: <a href="https://coconatsuki.github.io/drawing-application/">HERE</a></span>
          </div>
          <div class="image content">
            <div class="ui medium image">
              <%= image_tag("drawing.png") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header">Sketchpad application</div>
              <p>This is a project from the online bootcamp 'The Odin Project' :</p>
              <p><a href="https://www.theodinproject.com/courses/web-development-101/lessons/etch-a-sketch-project">The Odin Project: etch-a-sketch-project</a></p>
              <p>Here, I had to create a browser version of something between a sketchpad and an Etch-A-Sketch.</p>
              <p>This was a very good opportunity to practice my recent DOM manipulation skills.</p>
              <p>The project wasn't easy, but made me learn a lot of JavaScript methods.</p>
              <p>I also had a lot of fun with making a cool design in CSS.</p>
            </div>
          </div>
        </div>

        <div class="card five wide column right floated">
          <div class=" dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="pomodoro-modal">See description</div>
                </div>
              </div>
            </div>
            <%= image_tag("duckodoro.png") %>
          </div>
          <div class="content">
            <a class="header">Pomodoro system</a>
            <div class="meta">
              <span class="date">Created in Jul 2017</span>
            </div>
            <div class="description">
              A time management system to help you being productive and take breaks.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              HTML5, CSS3
            </a>
          </div>
        </div>
      </div>
      <div class="ui modal" id="pomodoro-modal">
        <i class="close icon"></i>
        <div class="header flex">
          <span>Github link: <a href="https://github.com/coconatsuki/pomodoro_system">HERE</a></span>
          <span>To see it in the browser: <a href="https://coconatsuki.github.io/pomodoro_system/">HERE</a></span>
        </div>
        <div class="image content">
          <div class="ui medium image">
            <%= image_tag("duckodoro.png") %>
          </div>
          <div class="description scrolling content">
            <div class="ui header">Pomodoro system</div>
            <p>This is a project from the online bootcam 'Odin Project' :</p>
            <p><a href="https://www.theodinproject.com/courses/web-development-101/lessons/pairing-project">The Odin Project: pairing-project</a></p>
            <p>
              Here, I had to create a 'time management system'
              (called 'The Pomodoro Technique') application.
              The Pomodoro Technique makes you work for a period of time,
              then take a short break, then work for a period of time
              then take a short break, and so on.
            </p>
            <p>
              The goal was to have a first experience of pair programming.
              So, I did this project with my partner,
              who is a senior full stack developer.
            </p>
            <p>
              I could learn a lot through pair programming,
              and go further than what I would have done alone.
            </p>
            <p>
              The design is quite ugly and doesn't look well on Firefox
              (and maybe other browsers as well... I should fix it some day.)
              but I had fun doing it.
            </p>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <h3 class="portfolio title flex justify-center">Back-end</h3>

      <div class="ui divider"></div>

      <div class="ui special stackable cards grid  portfolio flex justify-center">
        <div class="card five wide column">
          <div class="dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="bixis-modal">See description</div>
                </div>
              </div>
            </div>
            <%= image_tag("bixis.png") %>
          </div>
          <div class="content">
            <a class="header">Bixis application</a>
            <div class="meta">
              <span class="date">Created in March 2018</span>
            </div>
            <div class="description">
              A toy app which helps users find available bikes for share in Montreal
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              Ruby on Rails
            </a>
          </div>
        </div>
        <div class="ui modal" id="bixis-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>Github link: <a href="https://github.com/coconatsuki/Bixi-application">HERE</a></span>
            <span>To see it in the browser: <a href="https://bixi-fx-innovation.herokuapp.com/">HERE</a></span>
          </div>
          <div class="image content">
            <div class="ui medium image">
              <%= image_tag("bixis.png") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header">Bixis application </div>
              <p>This application was made for a technical test. Here are the instructions :</p>
              <p>
                - Make an app that checks the availability of bixis (bikes for share) at the closest stations (from the Office which sent me the test).
              </p>
              <p>- The output of a request should include each station's name, available bixis number, and the distance from the Office to the station. The stations should be ordered from the closest to the furthest.</p>
              <p>- Use Geocoder gem for calculate distances, and Montreal Bixis API: <a href="http://donnees.ville.montreal.qc.ca/dataset/bixi-etat-des-stations">HERE</a></p>
              <p>- At each request to the API, all stations shouldn't be updated everytime..</p>
              <p>This project is probably one of my favorite so far, because it gave me the opportunity to try gems that I haven't used so far : 'rest-client', 'geocoder', 'vcr', 'shoulda-matchers', 'simplecov'.</p>
              <p>It also made me use a job worker (sidekiq) once again, and helped me have a better understanding of it.</p>
              <p>I also tried my best to test my code as much as possible, using Rspec.</p>
            </div>
          </div>
        </div>

        <div class="card five wide column left floated">
          <div class="dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="catbook-modal">See description</div>
                </div>
              </div>
            </div>
            <%= image_tag("odin-catbook.png") %>
          </div>
          <div class="content">
            <a class="header">CATBOOK</a>
            <div class="meta">
              <span class="date">Created in Dec 2017</span>
            </div>
            <div class="description">
              It's like Facebook, but for cats (backend only)
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              Ruby on Rails
            </a>
          </div>
        </div>
        <div class="ui modal" id="catbook-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>Github link: <a href="https://github.com/coconatsuki/odin-catbook">HERE</a></span>
            <span>To see it in the browser: <a href="https://odin-catbook.herokuapp.com/">HERE</a></span>
          </div>
          <div class="image content">
            <div class="ui medium image">
              <%= image_tag("odin-catbook.png") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header">CATBOOK</div>
              <p>This is a Facebook-like application, made with Ruby on Rails.</p>
              <p>Catbook is an exercise from the online online bootcamp 'The Odin Project'. It's the final project that closes the Rails course:</p>
              <p>
                <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project?ref=lnav">The Odin Project: rails final project</a>
              </p>
              <p>Every core features of Facebook are present : users, profiles, “friending”, posts, news feed, and “liking”.</p>
              <p>Besides, the project has the real Facebook sign-in option by using Omniauth and Devise.</p>
              <p>It was the first time for me to try 'Devise' gem, and after having implemented sign-in and authentication systems by hand, I really appreciated to use it !</p>
              <p>Finally, I also added Redis, Sidekiq, activeJob and Sendgrid to properly send emails in production.</p>
            </div>
          </div>
        </div>

        <div class="card five wide column">
          <div class="dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="flight-modal">See description</div>
                </div>
              </div>
            </div>
            <%= image_tag("flight-booker.png") %>
          </div>
          <div class="content">
            <a class="header">Flight-booker</a>
            <div class="meta">
              <span class="date">Created in Nov 2017</span>
            </div>
            <div class="description">
              An application to search and book flights (backend only)
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              Ruby on Rails
            </a>
          </div>
        </div>
        <div class="ui modal" id="flight-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>Github link: <a href="https://github.com/coconatsuki/odin-flight-booker">HERE</a></span>
            <span>To see it in the browser: <a href="https://odin-flight-booking.herokuapp.com">HERE</a></span>
          </div>
          <div class="image content">
            <div class="ui medium image">
              <%= image_tag("flight-booker.png") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header">Flight booker</div>
              <p>This project is part of the online formation "The Odin Project":</p>
              <p>
                Follow the link for instructions : <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/building-advanced-forms?ref=lnav">The Odin Project: building advanced forms</a>
              </p>
              <p>The main goal of this 'flight-booker' exercise is to practice advanced forms (dropdown menus, radio buttons and nested submissions) and models in Rails.</p>
              <p>- I had to create a search form where a user could enter the desired dates / airports.</p>
              <p>- The user could then select a flight among the eligible ones.</p>
              <p>- Then, he could enter all the passengers information in an other form.</p>
              <p>Finally, the user can enter the billing information. This was made possible with the 'Stripe' gem.</p>
              <p>For this project, the most difficult was to implement complex models and complex forms.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="ui special stackable cards grid portfolio flex justify-center">
        <div class="card five wide column right floated">
          <div class=" dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="secret-modal">See description</div>
                </div>
              </div>
            </div>
            <%= image_tag("secrethouse.png") %>
          </div>
          <div class="content">
            <a class="header">The house of secrets</a>
            <div class="meta">
              <span class="date">Created in Oct 2017</span>
            </div>
            <div class="description">
              A blog-like website with sign-up & authentication system made by hand.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              Ruby on Rails
            </a>
          </div>
        </div>
        <div class="ui modal" id="secret-modal">
        <i class="close icon"></i>
        <div class="header flex">
          <span>Github link: <a href="https://github.com/coconatsuki/members-only-clubhouse">HERE</a></span>
          <span>To see it in the browser: <a href="https://members-only-club.herokuapp.com">HERE</a></span>
        </div>
        <div class="image content">
          <div class="ui medium image">
            <%= image_tag("secrethouse.png") %>
          </div>
          <div class="description scrolling content">
            <div class="ui header">The House of Secrets</div>
            <p>This is an 'Odin Project exercise'. To see the instructions:</p>
            <p>
              <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication?ref=lnav">The Odin Project: authentication</a>
            </p>
            <p>The purpose is to practice the chapter about authentication :</p>
            <p>I had to implement the log-in and authentication system by hand, using Session management, Cookies, Remember Token and helpful methods to manage the current user checks.</p>
            <p>The trick then was to make sure that only signed in users can see the author of each post. If not signed in, they can only see the post contents.</p>
            <p>It was also my first time to try and play around with Bootstrap.</p>
          </div>
        </div>
      </div>

        <div class="card five wide column left floated">
          <div class="dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button modal-button" data-modal="chess-modal">See description</div>
                </div>
              </div>
            </div>
            <%= image_tag("chessgame.png") %>
          </div>
          <div class="content">
            <a class="header">Chess Game</a>
            <div class="meta">
              <span class="date">Created in Sept 2017</span>
            </div>
            <div class="description">
              A chess application in commandline, for 2 players (no AI).
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              Ruby
            </a>
          </div>
        </div>
        <div class="ui modal" id="chess-modal">
          <i class="close icon"></i>
          <div class="header flex">
            <span>Github link: <a href="https://github.com/coconatsuki/Chess-game-in-ruby">HERE</a></span>
          </div>
          <div class="image content">
            <div class="ui medium image">
              <%= image_tag("chessgame.png") %>
            </div>
            <div class="description scrolling content">
              <div class="ui header">Chess Game in commandline</div>
              <p>This game was the most challenging of all of those I had to make so far.</p>
              <p>It was the final project of the Ruby chapter. I had to gather in one game everything I learnt previously.</p>
              <p>There's no IA here. It's a 2 real players game.</p>
              <p>I had to be very organized and careful about keeping my classes modular and clean, and limiting my methods to do only one thing each.</p>
              <p>I also had to think a lot about how to respect all the Chess rules (especially for the different moves patterns).</p>
              <p>The most useful thing I learnt with this project was the Matrix building : it helped me a lot to make a grill, find the pieces in lines or diagonals, and to move them.</p>
              <p>
                Instructions can be found here :
                <a href="https://www.theodinproject.com/courses/ruby-programming/lessons/ruby-final-project">The Odin Project: ruby final project</a></p>
              </div>
            </div>
          </div>

          <div class="card five wide column">
            <div class="dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button modal-button" data-modal="game-modal">See description</div>
                  </div>
                </div>
              </div>
              <%= image_tag("games.png") %>
            </div>
            <div class="content">
              <a class="header">4 Games</a>
              <div class="meta">
                <span class="date">Created in Aug 2017</span>
              </div>
              <div class="description">
                Tic Tac Toe & Mastermind & Hangman & Connect five.
              </div>
            </div>
            <div class="extra content">
              <a>
                <i class="users icon"></i>
                Ruby
              </a>
            </div>
          </div>
          <div class="ui modal" id="game-modal">
            <i class="close icon"></i>
            <div class="header flex">
              <span>Github link: <a href="https://github.com/coconatsuki/games-in-ruby">HERE</a></span>
            </div>
            <div class="image content">
              <div class="ui medium image">
                <%= image_tag("games.png") %>
              </div>
              <div class="description scrolling content">
                <div class="ui header">Tic Tac Toe & Mastermind & Hangman & Connect five</div>
                <p>Some of these games were made in TDD.</p>
                <p>They where built while studying the 'Ruby Programming Chapter' on the Odin Project online bootcamp:</p>
                <p><a href="https://www.theodinproject.com/courses/ruby-programming"></a>The Odin Project: ruby programming</p>
                <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/oop">The Tic Tac Toe Game:</a></p>
                <p>It allowed me to learn more about 'Object Oriented Programming' and practice effectively. For example, I had to be careful not to share information between classes any more than I had to. It also helped me to get a better understanding of scopes. I also had to add some tests afterward (not in TDD).</p>
                <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/oop">The Mastermind:</a></p>
                <p>This was one more chance to practice OOP even more. The interesting part here is that it's possible to reverse the roles : The user can either be the creator of the secret code or the guesser. Also, it was fun to experiment a bit of AI in trying to make the computer smarter (for example, if it guessed the right color but the wrong position, its next guess would include that color somewhere).</p>
                <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/file-i-o-and-serialization">The Hangman:</a></a></p>
                <p>This one made me practice the interaction with files and serialization. A dictionnary file has to be read to generate a word, and the game offers the possibility of being saved and loaded.</p>
                <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/testing-ruby">The Connect five:</a></p>
                <p>This was my first time to experiment strict TDD with Rspec.</p>
              </div>
            </div>
          </div>
        </div>
      </main>
