<main class="portfolio-page page-container">
  <h3 class="portfolio title">Front-end</h3>

  <div class="ui divider"></div>

  <div class="ui special cards grid">
    <div class="card four wide column left floated">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button modal-button" data-modal="google-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("fake-google-page.png") %>
    </div>
    <div class="content">
      <a class="header">Fake Google homepage</a>
      <div class="meta">
        <span class="date">Created in Fev 2017</span>
      </div>
      <div class="description">
       Reproduction of the Canadian Google Homepage.
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        HTML5, CSS3
      </a>
    </div>
  </div>
  <div class="ui modal" id="google-modal">
  <i class="close icon"></i>
  <div class="header">

  </div>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag("fake-google-page.png") %>
    </div>
    <div class="description scrolling content">
      <div class="ui header">Google Homepage</div>
        <p>This project was my first opportunity to practice HTML5 and CSS3.</p>
         <p>I put into practice everything I learnt in my HTML/CSS lessons,
         and checked my ability to :</p>
         <p>- Use two ways to move a div around on the page</p>
         <p>- Stick a div onto the bottom or top of the page</p>
         <p>- Identify the background color of an existing webpage</p>
         <p>- Grab the URL for an image from an existing webpage</p>
         <p>- Center an element horizontally</p>
         <p>- Understand how to use classes and ids</p>
         <p>- Build a very basic form (even if it doesn't "go" anywhere)</p>
    </div>
  </div>
</div>

  <div class="card four wide column">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button modal-button" data-modal="mint-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("fake-mint-page.png") %>
    </div>
    <div class="content">
      <a class="header">Fake Mint-com sign-in page</a>
      <div class="meta">
        <span class="date">Created in Dec 2017</span>
      </div>
      <div class="description">
       Reproduction of the Mint.com sign-in page, to practice forms.
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        HTML5, CSS3
      </a>
    </div>
  </div>
  <div class="ui modal" id="mint-modal">
  <i class="close icon"></i>
  <div class="header">

  </div>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag("fake-mint-page.png") %>
    </div>
    <div class="description scrolling content">
      <div class="ui header">Fake Mint.com sign-in page.</div>
      <p>This is a project from the online bootcamp "The Odin Project" to practice forms in HTML5 and CSS3.</p>
      <p>Instructions can be found here : <a href="https://www.theodinproject.com/courses/html5-and-css3/lessons/html-forms?ref=lnav">The Odin-Project: html-forms</a>.</p>
      <p>For this project, I had to rebuild the sign-in form made by the website mint.com :</p>
      <p>
        <a href="https://accounts.intuit.com/index.html?offering_id=Intuit.ifs.mint&namespace_id=50000026&redirect_url=https%3A%2F%2Fmint.intuit.com%2Foverview.event%3Futm_medium%3Ddirect%26cta%3Dnav_login_dropdown">
        Mint.com sign-in page</a>
      </p>
      <p>The design and simplicity of the page made it a good example to follow.</p>

    </div>
  </div>
</div>

  <div class="card four wide column right floated">
    <div class=" dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
          <div class="ui inverted button modal-button" data-modal="nyc-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("fake-newyork-page.png") %>
    </div>
    <div class="content">
      <a class="header">Fake New-York-Times page</a>
      <div class="meta">
        <span class="date">Created in Dec 2017</span>
      </div>
      <div class="description">
       Reproduction of one of the NYT article pages, to practice embedded media.
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        HTML5, CSS3
      </a>
    </div>
  </div>
</div>
<div class="ui modal" id="nyc-modal">
<i class="close icon"></i>
<div class="header">

</div>
<div class="image content">
  <div class="ui medium image">
    <%= image_tag("fake-newyork-page.png") %>
  </div>
  <div class="description scrolling content">
    <div class="ui header">Fake New York Times article</div>
    <p><a href="https://www.theodinproject.com/courses/html5-and-css3/lessons/positioning-and-floating-elements">The Odin Project: positioning-and-floating elements</a></p>
    <p>This was meant to practice the HTML5 new semantics, and also positioning and floating elements.</p>
    <p>I could also practice flexbox, as well as images and videos integration.</p>
    <p>This is the original page :</p>
    <p>
      <a href="https://www.nytimes.com/2014/03/18/science/space/detection-of-waves-in-space-buttresses-landmark-theory-of-big-bang.html?_r=0">NYC ARTICLE - THEORY OF BIG BANG</a>
    </p>
  </div>
</div>
</div>

<div class="ui special cards grid">
  <div class="card four wide column left floated">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
          <div class="ui inverted button modal-button" data-modal="pacman-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("pacman.png") %>
    </div>
    <div class="content">
      <a class="header">Miss Pacman</a>
      <div class="meta">
        <span class="date">Created in Fev 2017</span>
      </div>
      <div class="description">
       Animated Miss Pacman character, all in CSS and jQuery.
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        HTML5, CSS3, jQuery
      </a>
    </div>
  </div>
  <div class="ui modal" id="pacman-modal">
  <i class="close icon"></i>
  <div class="header">

  </div>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag("pacman.png") %>
    </div>
    <div class="description scrolling content">
      <div class="ui header">Animated Miss Pacman</div>
      <p>This project is a personal one! And I had a lot of fun with it.</p>
      <p>I wanted to practice the @keyframes rule, that I just learnt in a 'CodeSchool' course called 'adventures in web animation':</p>
      <p><a href="https://www.codeschool.com/courses/adventures-in-web-animations">Codeschool: adventures-in-web-animation</a></p>
      <p>It was really enjoyable to create a character in CSS and make it move with jQuery !</p>
    </div>
  </div>
</div>

  <div class="card four wide column">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button modal-button" data-modal="drawing-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("drawing.png") %>
    </div>
    <div class="content">
      <a class="header">Sketchpad application</a>
      <div class="meta">
        <span class="date">Created in May 2017</span>
      </div>
      <div class="description">
       A sketchpad application.
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        HTML5, CSS3, JS
      </a>
    </div>
  </div>
  <div class="ui modal" id="drawing-modal">
  <i class="close icon"></i>
  <div class="header">

  </div>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag("drawing.png") %>
    </div>
    <div class="description scrolling content">
      <div class="ui header">Sketchpad application</div>
      <p>This is a project from the online bootcamp 'The Odin Project' :</p>
      <p><a href="https://www.theodinproject.com/courses/web-development-101/lessons/etch-a-sketch-project">The Odin Project: etch-a-sketch-project</a></p>
      <p>Here, I had to create a browser version of something between a sketchpad and an Etch-A-Sketch.</p>
      <p>This was a very good opportunity to practice my recent DOM manipulation skills.</p>
      <p>The project wasn't easy, but made me learn a lot of JavaScript methods.</p>
      <p>I also had a lot of fun with making a cool design in CSS.</p>
    </div>
  </div>
</div>

  <div class="card four wide column right floated">
    <div class=" dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button modal-button" data-modal="pomodoro-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("duckodoro.png") %>
    </div>
    <div class="content">
      <a class="header">Pomodoro system</a>
      <div class="meta">
        <span class="date">Created in Jul 2017</span>
      </div>
      <div class="description">
       A time management system to help you being productive and take breaks.
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        HTML5, CSS3
      </a>
    </div>
  </div>
</div>
<div class="ui modal" id="pomodoro-modal">
<i class="close icon"></i>
<div class="header">

</div>
<div class="image content">
  <div class="ui medium image">
    <%= image_tag("duckodoro.png") %>
  </div>
  <div class="description scrolling content">
    <div class="ui header">Pomodoro system</div>
    <p>This is a project from the online bootcam 'Odin Project' :</p>
    <p><a href="https://www.theodinproject.com/courses/web-development-101/lessons/pairing-project">The Odin Project: pairing-project</a></p>
    <p>
      Here, I had to create a 'time management system'
      (called 'The Pomodoro Technique') application.
      The Pomodoro Technique makes you work for a period of time,
      then take a short break, then work for a period of time
      then take a short break, and so on.
    </p>
    <p>
      The goal was to have a first experience of pair programming.
      So, I did this project with my partner,
      who is a senior full stack developer.
    </p>
    <p>
      I could learn a lot through pair programming,
       and go further than what I would have done alone.
     </p>
    <p>
      The design is quite ugly and doesn't look well on Firefox
       (and maybe other browsers as well... I should fix it some day.)
       but I had fun doing it.
     </p>
  </div>
</div>
</div>

<div class="ui divider"></div>

<h3 class="portfolio title">Back-end</h3>

<div class="ui divider"></div>

<div class="ui special cards grid">
  <div class="card four wide column left floated">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button modal-button" data-modal="catbook-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("odin-catbook.png") %>
    </div>
    <div class="content">
      <a class="header">CATBOOK</a>
      <div class="meta">
        <span class="date">Created in Dec 2017</span>
      </div>
      <div class="description">
       It's like Facebook, but for cats (backend only)
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        Ruby on Rails
      </a>
    </div>
  </div>
  <div class="ui modal" id="catbook-modal">
  <i class="close icon"></i>
  <div class="header">

  </div>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag("odin-catbook.png") %>
    </div>
    <div class="description scrolling content">
      <div class="ui header">CATBOOK</div>
      <p>This is a Facebook-like application, made with Ruby on Rails.</p>
      <p>Catbook is an exercise from the online online bootcamp 'The Odin Project'. It's the final project that closes the Rails course:</p>
      <p>
        <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project?ref=lnav">The Odin Project: rails final project</a>
      </p>
      <p>Every core features of Facebook are present : users, profiles, “friending”, posts, news feed, and “liking”.</p>
      <p>Besides, the project has the real Facebook sign-in option by using Omniauth and Devise.</p>
      <p>It was the first time for me to try 'Devise' gem, and after having implemented sign-in and authentication systems by hand, I really appreciated to use it !</p>
      <p>Finally, I also added Redis, Sidekiq, activeJob and Sendgrid to properly send emails in production.</p>
    </div>
  </div>
</div>

  <div class="card four wide column">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button modal-button" data-modal="flight-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("flight-booker.png") %>
    </div>
    <div class="content">
      <a class="header">Flight-booker</a>
      <div class="meta">
        <span class="date">Created in Nov 2017</span>
      </div>
      <div class="description">
       An application to search and book flights (backend only)
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        Ruby on Rails
      </a>
    </div>
  </div>
  <div class="ui modal" id="flight-modal">
  <i class="close icon"></i>
  <div class="header">

  </div>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag("flight-booker.png") %>
    </div>
    <div class="description scrolling content">
      <div class="ui header">Flight booker</div>
      <p>This project is part of the online formation "The Odin Project":</p>
      <p>
        Follow the link for instructions : <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/building-advanced-forms?ref=lnav">The Odin Project: building advanced forms</a>
      </p>
      <p>The main goal of this 'flight-booker' exercise is to practice advanced forms (dropdown menus, radio buttons and nested submissions) and models in Rails.</p>
      <p>- I had to create a search form where a user could enter the desired dates / airports.</p>
      <p>- The user could then select a flight among the eligible ones.</p>
      <p>- Then, he could enter all the passengers information in an other form.</p>
      <p>Finally, the user can enter the billing information. This was made possible with the 'Stripe' gem.</p>
      <p>For this project, the most difficult was to implement complex models and complex forms.</p>
    </div>
  </div>
</div>

  <div class="card four wide column right floated">
    <div class=" dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button modal-button" data-modal="secret-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("secrethouse.png") %>
    </div>
    <div class="content">
      <a class="header">The house of secrets</a>
      <div class="meta">
        <span class="date">Created in Oct 2017</span>
      </div>
      <div class="description">
       A blog-like website with sign-up & authentication system made by hand.
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        Ruby on Rails
      </a>
    </div>
  </div>
</div>
<div class="ui modal" id="secret-modal">
<i class="close icon"></i>
<div class="header">

</div>
<div class="image content">
  <div class="ui medium image">
    <%= image_tag("secrethouse.png") %>
  </div>
  <div class="description scrolling content">
    <div class="ui header">The House of Secrets</div>
    <p>This is an 'Odin Project exercise'. To see the instructions:</p>
    <p>
      <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication?ref=lnav">The Odin Project: authentication</a>
    </p>
    <p>The purpose is to practice the chapter about authentication :</p>
    <p>I had to implement the log-in and authentication system by hand, using Session management, Cookies, Remember Token and helpful methods to manage the current user checks.</p>
    <p>The trick then was to make sure that only signed in users can see the author of each post. If not signed in, they can only see the post contents.</p>
    <p>It was also my first time to try and play around with Bootstrap.</p>
  </div>
</div>
</div>

<div class="ui special cards grid">
  <div class="card four wide column left floated">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button modal-button" data-modal="chess-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("chessgame.png") %>
    </div>
    <div class="content">
      <a class="header">Chess Game</a>
      <div class="meta">
        <span class="date">Created in Sept 2017</span>
      </div>
      <div class="description">
       A chess application in commandline, for 2 players (no AI).
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        Ruby
      </a>
    </div>
  </div>
  <div class="ui modal" id="chess-modal">
  <i class="close icon"></i>
  <div class="header">

  </div>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag("chessgame.png") %>
    </div>
    <div class="description scrolling content">
      <div class="ui header">Chess Game in commandline</div>
      <p>This game was the most challenging of all of those I had to make so far.</p>
      <p>It was the final project of the Ruby chapter. I had to gather in one game everything I learnt previously.</p>
      <p>There's no IA here. It's a 2 real players game.</p>
      <p>I had to be very organized and careful about keeping my classes modular and clean, and limiting my methods to do only one thing each.</p>
      <p>I also had to think a lot about how to respect all the Chess rules (especially for the different moves patterns).</p>
      <p>The most useful thing I learnt with this project was the Matrix building : it helped me a lot to make a grill, find the pieces in lines or diagonals, and to move them.</p>
      <p>
        Instructions can be found here :
        <a href="https://www.theodinproject.com/courses/ruby-programming/lessons/ruby-final-project">The Odin Project: ruby final project</a></p>
    </div>
  </div>
</div>

  <div class="card four wide column">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
          <div class="ui inverted button modal-button" data-modal="game-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("games.png") %>
    </div>
    <div class="content">
      <a class="header">4 Games</a>
      <div class="meta">
        <span class="date">Created in Aug 2017</span>
      </div>
      <div class="description">
       Tic Tac Toe & Mastermind & Hangman & Connect Four.
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        Ruby
      </a>
    </div>
  </div>
  <div class="ui modal" id="game-modal">
  <i class="close icon"></i>
  <div class="header">

  </div>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag("games.png") %>
    </div>
    <div class="description scrolling content">
      <div class="ui header">Tic Tac Toe & Mastermind & Hangman & Connect Four</div>
      <p>Some of these games were made in TDD.</p>
      <p>They where built while studying the 'Ruby Programming Chapter' on the Odin Project online bootcamp:</p>
      <p><a href="https://www.theodinproject.com/courses/ruby-programming"></a>The Odin Project: ruby programming</p>
      <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/oop">The Tic Tac Toe Game:</a></p>
      <p>It allowed me to learn more about 'Object Oriented Programming' and practice effectively. For example, I had to be careful not to share information between classes any more than I had to. It also helped me to get a better understanding of scopes. I also had to add some tests afterward (not in TDD).</p>
      <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/oop">The Mastermind:</a></p>
      <p>This was one more chance to practice OOP even more. The interesting part here is that it's possible to reverse the roles : The user can either be the creator of the secret code or the guesser. Also, it was fun to experiment a bit of AI in trying to make the computer smarter (for example, if it guessed the right color but the wrong position, its next guess would include that color somewhere).</p>
      <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/file-i-o-and-serialization">The Hangman:</a></a></p>
      <p>This one made me practice the interaction with files and serialization. A dictionnary file has to be read to generate a word, and the game offers the possibility of being saved and loaded.</p>
      <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/testing-ruby">The Connect Four:</a></p>
      <p>This was my first time to experiment strict TDD with Rspec.</p>
    </div>
  </div>
</div>

  <div class="card four wide column right floated">
    <div class=" dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
          <div class="ui inverted button modal-button" data-modal="orange-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("orange-tree.png") %>
    </div>
    <div class="content">
      <a class="header">Orange Tree</a>
      <div class="meta">
        <span class="date">Created in Jul 2017</span>
      </div>
      <div class="description">
       A tamagochi-like orange tree in commandline.
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        Ruby
      </a>
    </div>
  </div>
</div>
<div class="ui modal" id="orange-modal">
<i class="close icon"></i>
<div class="header">

</div>
<div class="image content">
  <div class="ui medium image">
    <%= image_tag("orange-tree.png") %>
  </div>
  <div class="description scrolling content">
    <div class="ui header">Orange Tree in commandline</div>
    <p>This is a tamagochi like interactive application that can be used on command line.</p>
    <p>This project was inspired by an exercise found in a Chris Pine's book (also available for free online):</p>
    <p><a href="https://pine.fm/LearnToProgram/chap_09.html">Learn to Program - Chris Pine</a></p>
    <p>It was meant to practice classes, instance variables and the initialize function in ruby language.</p>
    <p>The example given in the book was a 'Dragon Tamagochi' that the user could feed, walk or put to bed. I got really inspired by it, and got carried away and went beyond the instructions to make something more complex and enjoyable.</p>
    <p>The basic instructions were :</p>
    <p>Make an OrangeTree class.</p>
    <p>It should have a height method which returns its height, and a oneYearPasses method, which, when called, ages the tree one year. Each year the tree grows taller, and after some number of years, the tree should die. For the first few years, it should not produce fruit, but after a while it should, and I guess that older trees produce more each year than younger trees... And, of course, you should be able to countTheOranges , and pickAnOrange (which reduces the @orangeCount by one and returns a string telling you how delicious the orange was, or else it just tells you that there are no more oranges to pick this year). Make sure that any oranges you don't pick one year fall off before the next year.</p>
    <p>To that instructions, I added : the possibility to give it a name, the compost function to feed the tree (and to rise the oranges production), and also the possibility to get sick if too much watered, or die if not watered enough.</p>
    <p>I also added a 'menu' with the instructions, so that the user can really have an interaction with the tree, like a real game.</p>
    <p>Unfortunately, all the texts are in french. At that time, It was my first back-end application, and I was really excited, so I wanted to show it to my family (some don't understand english). But now, I regret a bit. ^^;</p>
    <p>Anyway, it was a very enjoyable first back-end project !</p>
  </div>
</div>
</div>

<div class="ui special cards grid">
  <div class="card four wide column left floated">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button modal-button" data-modal="caesar-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("caesar-cypher.png") %>
    </div>
    <div class="content">
      <a class="header">Caesar Cypher App</a>
      <div class="meta">
        <span class="date">Created in Sept 2017</span>
      </div>
      <div class="description">
       Application that cypher your sentence using the Caesar code system.
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        Ruby, Sinatra
      </a>
    </div>
  </div>
  <div class="ui modal" id="caesar-modal">
  <i class="close icon"></i>
  <div class="header">

  </div>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag("caesar-cypher.png") %>
    </div>
    <div class="description scrolling content">
      <div class="ui header">Caesar Cypher</div>
      <p>This is a project from the online bootcamp 'Odin Project'.</p>
      <p>This is a mix of 2 exercise. The first one was to make an easy 'caesar code' application:</p>
      <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/building-blocks">The Odin Project: building blocks</a></p>
      <p>(Caesar’s code or Caesar shift is one of the simplest and most widely known encryption techniques. It is a type of substitution cipher in which each letter in the plaintext is replaced by a letter some fixed number of positions down the alphabet. The method is named after Julius Caesar, who used it in his private correspondence.)</p>
      <p>The second exercise was to try SINATRA (as an introduction to learn how to use Rails) and adapt the previous code to it:</p>
      <p><a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/sinatra-project">The Odin Project: sinatra project</a></p>
      <p>It was fun to make an interactive application accessible on a webpage for the first time !/p>
    </div>
  </div>
</div>

  <div class="card four wide column">
    <div class="dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button modal-button" data-modal="hangman-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("hangman.png") %>
    </div>
    <div class="content">
      <a class="header">The Hangman</a>
      <div class="meta">
        <span class="date">Created in Sep 2017</span>
      </div>
      <div class="description">
       The Hangman Game on sinatra, with ugly pictures.
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        Ruby, Sinatra
      </a>
    </div>
  </div>
  <div class="ui modal" id="hangman-modal">
  <i class="close icon"></i>
  <div class="header">

  </div>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag("hangman.png") %>
    </div>
    <div class="description scrolling content">
      <div class="ui header">The Hangman</div>
      <p>This is a project from the online bootcamp 'Odin Project'.</p>
      <p>This is a mix of 2 exercise. The first one was to make an easy 'hangman' application:</p>
      <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/file-i-o-and-serialization">The Odin Project: file io and serialization</a></p>
      <p>The second exercise was to try SINATRA (as an introduction to learn how to use Rails) and adapt the previous code to it:</p>
      <p><a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/sinatra-project">The Odin Project: sinatra project</a></p>
      <p>The first time for me to use SINATRA was when adapting the CAESAR CODE application to it.</p>
      <p>For the Hangman, I had to manage it all by myself with less instructions, and I also had fun making images for each step of the game.</p>
      <p>I really liked the possibility of sharing the game with my friends and family ! I remembered being really excited at that time. (With the game on command line only, it wasn't really accessible).</p>
    </div>
  </div>
</div>

  <div class="card four wide column right floated">
    <div class=" dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button modal-button" data-modal="cs-modal">See description</div>
          </div>
        </div>
      </div>
      <%= image_tag("computer-science.png") %>
    </div>
    <div class="content">
      <a class="header">Computer science exercises</a>
      <div class="meta">
        <span class="date">Created in Aug 2017</span>
      </div>
      <div class="description">
       Algorithms and data structures exercises.
     </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        HTML5, CSS3
      </a>
    </div>
  </div>
</div>
<div class="ui modal" id="cs-modal">
<i class="close icon"></i>
<div class="header">

</div>
<div class="image content">
  <div class="ui medium image">
    <%= image_tag("computer-science.png") %>
  </div>
  <div class="description scrolling content">
    <div class="ui header">Computer Science exercises</div>
    <p>Here are some computer science exercises from the online bootcam 'Odin Project':</p>
    <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/recursion">The Odin Project: recursion</a></p>
    <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/linked-lists">The Odin Project: linked-lists</a></p>
    <p>Contains some basic exercises on recursion and one more specific about fibonacci numbers.</p>
    <p>Using recursion, there's an other exercise building a merge_sort.</p>
    <p>And then, I built a linked list in ruby, to study search algorithms.</p>
    <p>Finally, the last exercise consist of a binary search tree:</p>
    <p><a href="https://www.theodinproject.com/courses/ruby-programming/lessons/data-structures-and-algorithms?ref=lnav">The Odin Project: data structures and algorithms</a></p>
  </div>
</div>
</div>
</main>
